body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
img {

    width: 230px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
}
img.active {
    border-color: red;
}
