
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

section {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

section img {
    max-width: 80px; /* Cambiar el tamaño de las imágenes */
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

div {
    display: flex;
    align-items: center;
    margin: 10px;
}

input[type="number"] {
    padding: 5px;
    width: 40px;
    margin-left: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

p {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.con-borde {
    border: 2px solid red;
}

